    /* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
    
    @media (max-width: 1399.98px) {
        * {
            font-size: .833vw;
        }
        .profile li a p,
        a.nav-link,
        .store-address span.c-green,
        .store-address .text-muted,
        .off {
            font-size: 1.2rem;
        }
        .store-address .strong {
            font: normal normal 400 1rem "Poppins";
        }
        .cc-img {
            height: 6.5rem;
        }
        .shop-by-category strong {
            font-size: 1.5rem;
        }
    }
    
    @media (max-width: 991.98px) {
        .search input[type=text],
        .search input[placeholder],
        .location p,
        .lead-product,
        .profile li a p,
        .feature-item,
        .store-address .strong,
        .view-all-btn,
        .date,
        .user {
            font-size: 1.3rem;
        }
        .feature-card-name,
        a.nav-link,
        a.read-more:link,
        a.read-more:visited {
            font-size: 1.4rem;
        }
        .item-details li img {
            width: 1.8rem;
        }
        .review,
        .price p del {
            font-size: 1.5rem;
        }
        .off {
            width: 60px;
            height: 22px;
            font-size: 1.5rem;
        }
        .stories .card-title {
            font-size: 1.5rem;
        }
        .data-search {
            font-size: 1.3rem;
        }
        .footer a {
            font-size: 1.2rem;
        }
        .copyright {
            font-size: 1.3rem;
        }
        .arrow {
            display: block;
        }
    }
    
    @media (max-width: 767.98px) {
        .nav-2 {
            margin-top: 7.7rem!important;
            width: max-content!important;
            display: grid;
            width: 100%!important;
        }
        .products.w-auto,
        .store-location.w-auto {
            width: 100% !important;
            align-items: center!important;
            padding: 0!important;
            margin: 0!important;
        }
        .nav-2 .products {
            width: 100%;
        }
        a.nav-link {
            font-size: 2rem;
        }
        .store-address {
            width: 100%;
            text-align: center;
        }
        .lead-product {
            font-size: 2rem;
        }
        .off,
        .store-address .strong {
            font-size: 1.7rem;
        }
        .store-address span.c-green {
            font-size: 1.5rem;
        }
        .cc-img {
            height: 9.5rem;
        }
        .price p del,
        .shop-by-category strong {
            font-size: 2.2rem;
        }
        .view-all-btn {
            width: 12.375rem;
            height: 100%;
            font-size: 1.7rem;
        }
        .feature-card-name {
            font-size: 2.4rem;
        }
        .price p strong,
        .feature-item {
            font-size: 2.5rem;
        }
        .item-details li img {
            width: 2.8rem;
        }
        .add-cart-btn img {
            width: 3.313rem;
        }
        .order-btn {
            font-size: 2rem;
            width: 80px;
        }
        .add-cart-btn {
            font-size: 2.5rem;
            width: 60%;
        }
        .item-pic {
            width: 17.938rem;
            height: 17.938rem;
        }
        .footer .h5,
        .date,
        .user {
            font-size: 1.8rem;
        }
        .story-item-data {
            font-size: 3rem;
        }
        .review {
            font-size: 2.3rem;
        }
        a.read-more:link,
        a.read-more:visited {
            font-size: 2rem;
        }
        .stories .card-title {
            font-size: 2rem;
            font-weight: 500;
        }
        .data-search {
            font-size: 1.6rem;
        }
        .footer-brand {
            display: flex !important;
            justify-content: center;
        }
        .footer ul.card li a {
            display: flex!important;
            justify-content: center;
        }
        .footer ul.list-unstyled li {
            display: flex!important;
            justify-content: center;
        }
        .app-redirects-logos {
            margin: 0 auto!important;
        }
        .footer .h5 {
            font-size: 1.8rem;
        }
        .footer a {
            font-size: 1.5rem;
        }
        .arrow {
            display: none;
        }
    }
    
    @media (max-width: 575.98px) {
        .footer-brand img,
        .navbar-brand img {
            width: 25vw;
        }
        .nav-2 {
            margin-top: 12rem !important;
            margin-left: 0px!important;
            margin-right: 0px!important;
        }
        /* .mx-5 {
            margin: 2.5px !important;
        } */
        .off,
        .store-address .strong,
        a.nav-link {
            font-size: 2.5rem;
        }
        .store-address span.c-green {
            font-size: 2.5rem;
        }
        .cc-img {
            height: 15.5rem;
        }
        .price p del,
        .shop-by-category strong {
            font-size: 3.2rem;
        }
        .feature-card-name {
            font-size: 2.8rem;
        }
        .price p strong,
        .feature-item {
            font-size: 4rem;
            letter-spacing: .6px;
        }
        .order-btn {
            font-size: 2.6rem;
            width: 50px;
        }
        .green,
        h4 {
            font-size: 6.125rem;
        }
        .view-all-btn {
            width: 16.375rem;
            font-size: 2.7rem;
        }
        .special-offer em {
            font-size: 2.875rem;
        }
        .lead-product {
            font-size: 2.7rem;
        }
        .review,
        .footer .h5,
        .date,
        .user {
            font-size: 3rem;
        }
        .story-item-data {
            font-size: 3.6rem;
        }
        a.read-more:link,
        a.read-more:visited {
            font-size: 3rem;
        }
        .stories .card-title {
            font-size: 3rem;
        }
        .data-search {
            font-size: 3rem;
        }
        .footer a {
            font-size: 2rem;
        }
        .join-links {
            width: 3.354vw;
        }
        .copyright {
            font-size: 2.3rem;
        }
    }
